* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes certificatesAnimation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}


.body {
  background-image: url(img/banner.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  height: 70%;
}

.body::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 1;
}

.container__banner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.banner {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.2) 0%, rgba(35, 170, 166, 0.2) 42%, rgba(0, 212, 255, 0.2) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 30%;
}

.banner__wrapper {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  overflow: hidden;
}

.person__img:hover {
  border-radius: 0%;
  width: 100%;
  height: 100%;
}

.person__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo__switcher-right,
.photo__switcher-left {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border: solid 1px #fff;
  border-radius: 50%;
}

.photo__switcher-left {
  background-image: url(img/arrow-left.svg);
  margin-right: 5px;
}

.photo__switcher-right {
  background-image: url(img/arrow-right.svg);
  margin-left: 5px;
}
.photo__switcher-hover {
  background-image: none;
  border: none;
  cursor: none;
}

.photo__switcher-hidden {
  background-image: none;
  border: none;
  cursor: none;
  margin-right: 5px;
  width:25px;
  height:25px;
  opacity: 0;
}

.person__wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  width: 65%
}

.person__name {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.person__specialization {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}

.container__main {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.pesonal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-width: 300px;
}

.personal__data,
.personal__skills {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.personal__skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.personal__data {
  color: #fff;
  align-items: center;
  width: 35%;
  background-color: rgba(194, 178, 178, 0.5);

}

.personal__data h3,
.certificates__title {
  text-align: center;
  font-size: 25px;
  position: relative
}

.data__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.data__item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.item__link {
  text-decoration: none;
  color: #fff;
}

.item__img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data__hardSkills {
  color: rgb(10, 206, 10);
  margin-top: 5px;
  display: inline-block;
}

.personal__skills {
  width: 65%;
  background-color: rgba(108, 102, 102, 0.5);
  position: relative;
}

.skills__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}

.skills__wrapper h3,
.aboutMe__wrapper h3 {
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 25px;
}

.skills__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.qualities__wrapper {
  max-width: 280px;
}

.aboutMe__wrapper {
  width: 80%;
  margin: 0 auto;
}

.certificates__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  column-gap: 50px;
}

.teachMeSkills__wrapper,
.streamline__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vh;
  height: 16vh;
  overflow: hidden;
}

.teachMeSkills__img,
.streamline__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teachMeSkills__wrapper:hover,
.streamline__wrapper:hover {
  animation: certificatesAnimation 1s;
  animation-fill-mode: forwards;
}

@media (max-width: 767px) {
  @keyframes certificatesAnimation {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(2.2);
    }
  }

  .body::after {
    background-color: rgba(0, 0, 0, 0.0);
  }

  .banner {
    height: 100%;
  }

  .banner__wrapper {
    margin-top: 15px;
    width: 100%
  }

  .container__banner {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .person__img {
    width: 75%;
    height: calc(75vw - 30px);
  }

  .person__name {
    text-align: center;
    font-size: 40px;
  }

  .person__wrapper {
    align-items: center;
    padding: 10px 0;
  }

  .person__specialization {
    text-align: center;
    font-size: 30px;
  }

  .personal__data,
  .personal__skills {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(108, 102, 102, 0.5);
  }

  .container__main,
  .skills__wrapper {
    flex-direction: column;
    margin: 0 auto;
  }

  .certificates__wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .skills__title {
    transform: translate(30%);
  }
}